@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');
/* font-family: 'Playfair Display', serif; */
/* font-family: 'Poppins', sans-serif; */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}